@import './base.css';

#app {
}

::-webkit-scrollbar {
  margin-top: 5px;
  height: 12px;
  width: 6px;
  background: var(--color-background-modern);
}

::-webkit-scrollbar-thumb {
  background: var(--color-background-mute);
  -webkit-border-radius: 1ex;;
}

::-webkit-scrollbar-corner {
  display: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
